<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rtc.anucha.kamonrat.baringame1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Barin1" />
        <activity android:name=".Barin2" />
        <activity android:name=".Mode" />
        <activity android:name=".Dara1" />
        <activity android:name=".Dara2" />
        <activity android:name=".Animal1" />
        <activity android:name=".Animal2" />
        <activity android:name=".Animal3" />
        <activity android:name=".Barin3" />
        <activity android:name=".Barin4" />
        <activity android:name=".Barin5" />
        <activity android:name=".Barin6" />
        <activity android:name=".Barin7" />
        <activity android:name=".Barin8" />
        <activity android:name=".Barin9" />
        <activity android:name=".Barin10" />
        <activity android:name=".Barin11" />
        <activity android:name=".Barin12" />
        <activity android:name=".Barin13" />
        <activity android:name=".Barin14" />
        <activity android:name=".Barin15" />
        <activity android:name=".Barin16" />
        <activity android:name=".Barin17" />
        <activity android:name=".Barin18" />
        <activity android:name=".Barin19" />
        <activity android:name=".Barin20" />
        <activity android:name=".Barin21" />
        <activity android:name=".Barin22" />
        <activity android:name=".Barin24" />
        <activity android:name=".Barin25" />
        <activity android:name=".Barin26" />
        <activity android:name=".Barin27" />
        <activity android:name=".Barin28" />
        <activity android:name=".Barin29" />
        <activity android:name=".Barin30" />
        <activity android:name=".Barin31" />
        <activity android:name=".Barin32" />
        <activity android:name=".Barin33" />
        <activity android:name=".Barin34" />
        <activity android:name=".Barin35" />
        <activity android:name=".Barin36" />
        <activity android:name=".Barin37" />
        <activity android:name=".Barin38" />
        <activity android:name=".Barin39" />
        <activity android:name=".Barin40" />
        <activity android:name=".Barin41" />
        <activity android:name=".Barin42" />
        <activity android:name=".Barin43" />
        <activity android:name=".Barin44" />
        <activity android:name=".Barin45" />
        <activity android:name=".Barin46" />
        <activity android:name=".Barin47" />
        <activity android:name=".Barin48" />
        <activity android:name=".Barin49" />
        <activity android:name=".Barin50" />
        <activity android:name=".Barin23" />
        <activity android:name=".Dara3" />
        <activity android:name=".Dara4" />
        <activity android:name=".Dara5" />
        <activity android:name=".Dara6" />
        <activity android:name=".Dara7" />
        <activity android:name=".Dara8" />
        <activity android:name=".Dara9" />
        <activity android:name=".Dara10" />
        <activity android:name=".Dara11" />
        <activity android:name=".Dara12" />
        <activity android:name=".Dara13" />
        <activity android:name=".Dara14" />
        <activity android:name=".Dara15" />
        <activity android:name=".Dara16" />
        <activity android:name=".Dara17" />
        <activity android:name=".Dara18" />
        <activity android:name=".Dara19" />
        <activity android:name=".Dara20" />
        <activity android:name=".Dara21" />
        <activity android:name=".Dara22" />
        <activity android:name=".Dara23" />
        <activity android:name=".Dara24" />
        <activity android:name=".Dara25" />
        <activity android:name=".Dara26" />
        <activity android:name=".Dara27" />
        <activity android:name=".Dara28" />
        <activity android:name=".Dara29" />
        <activity android:name=".Dara30" />
        <activity android:name=".Dara31" />
        <activity android:name=".Dara32" />
        <activity android:name=".Dara33" />
        <activity android:name=".Dara34" />
        <activity android:name=".Dara35" />
        <activity android:name=".Dara36" />
        <activity android:name=".Dara37" />
        <activity android:name=".Dara38" />
        <activity android:name=".Dara39" />
        <activity android:name=".Dara40" />
        <activity android:name=".Dara41" />
        <activity android:name=".Dara42" />
        <activity android:name=".Dara43" />
        <activity android:name=".Dara44" />
        <activity android:name=".Dara45" />
        <activity android:name=".Dara46" />
        <activity android:name=".Dara47" />
        <activity android:name=".Dara48" />
        <activity android:name=".Dara49" />
        <activity android:name=".Dara50" />
        <activity android:name=".Animal4" />
        <activity android:name=".Animal5" />
        <activity android:name=".Animal6" />
        <activity android:name=".Animal7" />
        <activity android:name=".Animal8" />
        <activity android:name=".Animal9" />
        <activity android:name=".Animal10" />
        <activity android:name=".Animal11" />
        <activity android:name=".Animal12" />
        <activity android:name=".Animal13" />
        <activity android:name=".Animal14" />
        <activity android:name=".Animal15" />
        <activity android:name=".Animal16" />
        <activity android:name=".Animal17" />
        <activity android:name=".Animal18" />
        <activity android:name=".Animal19" />
        <activity android:name=".Animal20" />
        <activity android:name=".Animal21" />
        <activity android:name=".Animal22" />
        <activity android:name=".Animal23" />
        <activity android:name=".Animal24" />
        <activity android:name=".Animal25" />
        <activity android:name=".Animal26" />
        <activity android:name=".Animal27" />
        <activity android:name=".Animal28" />
        <activity android:name=".Animal29" />
        <activity android:name=".Animal30" />
        <activity android:name=".Animal31" />
        <activity android:name=".Animal32" />
        <activity android:name=".Animal33" />
        <activity android:name=".Animal34" />
        <activity android:name=".Animal35" />
        <activity android:name=".Animal36" />
        <activity android:name=".Animal37" />
        <activity android:name=".Animal38" />
        <activity android:name=".Animal39" />
        <activity android:name=".Animal40" />
        <activity android:name=".Animal41" />
        <activity android:name=".Animal42" />
        <activity android:name=".Animal43" />
        <activity android:name=".Animal44" />
        <activity android:name=".Animal45" />
        <activity android:name=".Animal46" />
        <activity android:name=".Animal47" />
        <activity android:name=".Animal48" />
        <activity android:name=".Animal49" />
        <activity android:name=".Animal50" />
        <activity android:name=".Music1" />
        <activity android:name=".Music2" />
        <activity android:name=".Music3" />
        <activity android:name=".Music4" />
        <activity android:name=".Music5" />
        <activity android:name=".Music6" />
        <activity android:name=".Music7" />
        <activity android:name=".Music8" />
        <activity android:name=".Music9" />
        <activity android:name=".Music10" />
        <activity android:name=".Music11" />
        <activity android:name=".Music12" />
        <activity android:name=".Music13" />
        <activity android:name=".Music14" />
        <activity android:name=".Music15" />
        <activity android:name=".Music16" />
        <activity android:name=".Music17" />
        <activity android:name=".Music18" />
        <activity android:name=".Music19" />
        <activity android:name=".Music20" />
        <activity android:name=".Music21" />
        <activity android:name=".Music22" />
        <activity android:name=".Music23" />
        <activity android:name=".Music24" />
        <activity android:name=".Music25" />
        <activity android:name=".Music26" />
        <activity android:name=".Music27" />
        <activity android:name=".Music28" />
        <activity android:name=".Music29" />
        <activity android:name=".Music30" />
        <activity android:name=".Music31" />
        <activity android:name=".Music32" />
        <activity android:name=".Music33" />
        <activity android:name=".Music34" />
        <activity android:name=".Music35" />
        <activity android:name=".Music36" />
        <activity android:name=".Music37" />
        <activity android:name=".Music38" />
        <activity android:name=".Music39" />
        <activity android:name=".Music40" />
        <activity android:name=".Music41" />
        <activity android:name=".Music42" />
        <activity android:name=".Music43" />
        <activity android:name=".Music44" />
        <activity android:name=".Music45" />
        <activity android:name=".Music46" />
        <activity android:name=".Music47" />
        <activity android:name=".Music48" />
        <activity android:name=".Music49" />
        <activity android:name=".Music50"></activity>
    </application>

</manifest>